* {
    margin: 0px;
    padding: 0px;
}

.banner {
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;

    max-width: 100%;
    height: 850px;
    flex-shrink: 0;

    align-items: center;

}


.banner-flower-image {

    padding-top: 50px;
    max-width: 635px;
    height: 800px;

}



.banner-header {
    width: 708px;
    height: 288px;
    margin-left: 240px;
    margin-top: 197px;

    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 634px;
    height: 90px;

    margin-left: 240px;
    margin-top: 20px;
}

.shop-now-button {

    /* display: inline-flex; */
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: white;

    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 240px;
    margin-top: 39px;

    width: auto 177px;
    height: auto 64px;

    display: inline-flex;

    border: none;
}


.flower-item-section {
    margin-left: 240px;
    margin-right: 240px;
}

.flower-galary {
    display: flex;
    /* justify-content: center; */
    gap: 24px;

    margin-top: 40px;
    justify-content: center;
}

.flower-one {
    max-width: 464px;
    height: 538px;

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-two {
    max-width: 464px;
    height: 538px;
    flex-shrink: 0;

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.flower-three {

    max-width: 464px;
    height: 538px;
    flex-shrink: 0;
    width: 464px;
    height: 538px;
    flex-shrink: 0;

    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-one-image {
    max-width: 310px;
    height: 428px;
    flex-shrink: 0;

    margin-top: 110px;
    margin-left: 76px;
    margin-right: 78px;
}

.flower-two-image {
    max-width: 370px;
    height: 370px;
    flex-shrink: 0;

    margin-top: 117px;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 51px;

}

.flower-three-image {
    max-width: 314px;
    height: 471px;
    flex-shrink: 0;

    margin-top: 67px;
    margin-left: 75px;
    margin-right: 75px;

}

.flower-item-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 178px;


}

.flower-item-title-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    text-align: center;
    justify-content: center;
    margin-left: 370px;
    /* margin-right: 663px; */
    margin-top: 24px;
    border: 2px solid blue;

}




.pink-flower-para {
    text-align: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    padding-top: 32px;
}


.sell-support {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

    max-width:  1440px;
    height: 320px;
    /* flex-shrink: 0; */

    /* margin: 240px 128px; */
    /* margin-left: 240px; */
    margin-top: 195px;
    border: 2px solid navy;

    align-items: center;

    display: flex;

}

.delivery-pic {
  
    /* margin-bottom: 122px; */
    /* display: flex; */ 

    /* margin-left: 165px; */
    /* margin-right: 175; */

    text-align: center;
    padding-top: 20px; 
    padding-left: 100px;
    padding-bottom: 20px;
   

    /* justify-content: center; */
    /* row-gap: 20px;
    gap: 10px; */
    /* justify-content: space-between; */
    /* align-items: center; */

}

.delivery-para {


    width: 372px;
    height: 35px;
    margin-left: 12px;
    /* margin: 198px; */


    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;

    padding-top: 20px;
    
}


/* .delivery-para-two{
    width: 316px;
    height: 35px;
    margin-top: 198px;

} */

/* .delivery-para-three{
    width: 202px;
    height: 35px;
    margin-top: 198px;

} */
.discount {
    /* max-width : 1922px;
     height: 620px; */
    /* flex-shrink: 0; */

    margin-top: 128px;

    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

    width: 1922px;
    height: 620px;
    /* margin-top: 128px; */

    display: flex;
    align-items: center;

    gap: 186px;
}

.discount-container {
    /* display: flex; */

    text-align: center;
    padding-left: 395px;
}

.discount-header {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


    max-width: 537px;
    height: 48px;

    /* padding-top: 230px; */
    /* padding-left: 423px; */
}

.off {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount-para {
    max-width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


    padding-top: 24px;
    /* padding-left: 395px; */
    /* padding-bottom: 258px; */
}

.SignUp-btn {
    width: 155px;
    height: 64px;
    /* margin-left: 603px; */
    /* padding-bottom; */
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-top: 24px;
}

.discount-section-image {

    width: 318px;
    height: 420px;

    /* margin-top: 50px; */
    /* margin-right: 129px; */
    /* margin-left: 1175px; */
    /* margin-bottom: 1px; */

    border: 3px solid firebrick;
    /* padding-bottom: 100px; */
}


.insta {
    margin-top: 128px;
    text-align: center;

    color: #272727;

    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}

.social-section-para {

    /* margin-top: 100px; */
    /* max-width: 594px; */
    /* justify-content: center; */
    text-align: center;

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    /* margin-left: 663px; */
}

.four-image-galary {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 48px;

}

.offer-deal {
    width: 1440px;
    height: 449px;
    flex-shrink: 0;

    border-radius: 8px;

    /* padding-top: 30px; */
    /* margin-top: 24px; */

}